/* CSS Entry Point */
.app { 


	
}

.map { 
	// margin:none; 
	margin-top: 30px;
	width:100%; 
	text-align:center;
	position: relative;
	
}

.SF{
	// position: absolute;
}

.paris{
	// position: absolute;
}

.mumbai{

}

.shanghai{

}

.tokyo{

}

.newyork{

}

.capetown{

}


.question-box-wrapper{
	height:200%;
	width: 200px;
	position: absolute;
	background:white;
	font-family: sans-serif;
}

.img-wrapper {
	position: absolute;
}




.congrats {


	width:100%;
	height:100%;
	text-align:center;
	padding-top: 300px;
	font-family:sans-serif;
	color: pink;
	font-size: 60px;

}

