/* CSS Entry Point */
.app { 

	
}

.map { 
	// margin:none; 
	margin-top: 30px;
	width:100%; 
	text-align:center;
	position: relative;
	
}

.SF{
	// position: absolute;
}

.paris{
	// position: absolute;
}

.question-box-wrapper{
	height: 200px;
	width: 200px;
	border: 1px solid red;
	position: absolute;
}

.img-wrapper {
	position: absolute;
}

